<div id="<%= dom_id mybook %>">
  <p>
    <strong>Name:</strong>
    <%= mybook.name %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= mybook.genre %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= mybook.rating %>
  </p>

</div>
