<p style="color: green"><%= notice %></p>

<h1>My books</h1>

<div id="myreadingbooks">
  <% @myreadingbooks.each do |myreadingbook| %>
    <%= render myreadingbook %>
    <p>
      <%= link_to "View ", myreadingbook , class:"btn btn-info" %>
    </p>
  <% end %>
</div>


